<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>질문 목록</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>질문목록</h1>-->
<!--<ul>-->
<!--    <li th:each="question : ${questionList}">-->
<!--        <span th:text="${question.id}"></span>-->
<!--        <span th:text="${question.subject}"></span>-->
<!--    </li>-->
<!--</ul>-->
<!--</body>-->
<!--</html>-->

<table border="1">
    <thead>
    <th>번호</th>
    <th>제목</th>
    <th>작성일시</th>
    </thead>
    <tbody>
        <tr th:each="question : ${questionList}">
        <td th:text="${question.id}"></td>
        <td th:text="${question.subject}"></td>
        <td th:text="${question.createDate}"></td>
        </tr>
    </tbody>
</table>